.NavBar {
  background-color: #272a2d !important;
}

.nav-link {
  color: white !important;
}

.navbar-toggler-icon {
  color: white !important;
}

.navbar-toggler collapsed {
  color: white !important;
}
