.App {
  background-color: #272a2d;
}

.splash {
  background-color: #272a2d;
  height: 100vh;
}

.splash h1 {
  font-size: 65px;
}

.splash h3 {
  font-size: 40px;
}

h3 {
  color: #07c8d6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.image-container {
  display: flex;
  justify-content: center;
}

.content-row {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #272a2d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
