body {
  background-color: #272a2d !important;
}

span.subtitle {
  color: #07c8d6;
}

#solution {
  padding-top: 100px;
}

#chain-agnostic {
  padding-bottom: 100px;
}

.nav-bar {
  position: fixed !important;
  top: 0;
  width: 100%;
}
